body {
    background-color: beige;
}

/* Letter and Chapter text */
.chapter p {
    font-family: 'Brush Script MT', cursive;
    font-size: xx-large;
}

/* Chater & Letter heading */
.chapter h2 {
    /* background-color: aqua; */
    border-style: solid;
    border-image: linear-gradient(90deg, rgba(0, 0, 0, 0), rgb(0, 0, 0), rgba(0, 0, 0, 0)) 1;
    border-top: 0;
}

.chapter p:not([class])::first-letter {
    font-size:2em;
}

