body {
    background-color: beige;
}

/* Letter and Chapter text */
.chapter p {
    font-family: 'Brush Script MT', cursive;
    font-size: xx-large;
}

/* Chater & Letter heading */
/*
This code was adapted from an article from rumakr03, last edited on 11 May, 2020, retrieved on 2023-02-12, to GeeksforGeeks CSS tutorial
article here:
https://www.geeksforgeeks.org/how-to-add-image-in-text-background-using-html-and-css/
*/
.chapter h2 {
    background-image: url(yellow.jpg);
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 4em;
    text-transform: uppercase;
    border-style: solid;
    border-image: linear-gradient(90deg, rgba(0, 0, 0, 0), rgb(0, 0, 0), rgba(0, 0, 0, 0)) 1;
    border-top: 0;
}

/* .chapter p.first-paragraph span.first-character { */
.chapter p.first-paragraph::first-letter {
    font-size:3em;
    float: left;
    margin-right: 0.5%;
    padding-right: 1.5%;
    border-style: solid;
    border-width: 0 4pt 4pt 0;
    border-radius: 5pt;
    border-color: rgb(93, 47, 27);
}

