body {
    background-color: chartreuse;
    background-image: url('../static/colorful-galaxy.jpg'); /* Colorful galaxy by Jeremy Thomas 2016, retrieved from https://unsplash.com/photos/E0AHdsENmDg */
    font-family: cursive;
    text-align: center;
}

h1 {
    font-size: 3em;
}

/* This code is modified from a CSS tutorial on shake animation by @lakshgoel204, last updated at 2022-07-31, retrieved on 2023-02-22, at geeksforgeeks.org
tutorial here:
https://www.geeksforgeeks.org/how-to-shake-text-on-hover-using-html-and-css/
*/
div:hover h1{
    animation:  shake 0.8s  ;
}
@keyframes shake{
    0%{
        transform: translateX(0)
    }
    25%{
        transform: translateX(25px);
    }
        
    50%{
        transform: translateX(-25px);
    }
    100%{
        transform: translateX(0px);
    }
}

p {
    font-size: 2em;
}

.navbar {
    background-color: rgba(137, 43, 226, 0.665);
    font-family: 'Courier New', Courier, monospace;
}

.info {
    background-color: rgba(0, 255, 255, 0.632);
    color:aqua;
}

.info img {
    height: 150pt;
    width: 150pt;
    border: 3pt solid yellow;
    object-fit: cover;
}

.card {
    background-color: rgba(139, 0, 139, 0.614);
    color:brown
}

.card:nth-child(1) {
    background-color: rgba(184, 135, 11, 0.541);
    color: aliceblue;
}
.contact {
    background-color: rgba(0, 139, 139, 0.617);
    color: darkslategray;
}
